<a href="https://colab.research.google.com/github/WilliamAshbee/DataminingAssignments/blob/main/DM_assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sklearn as sk
import pandas as pd

In [2]:
#!wget http://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/cleve.mod

In [3]:
url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/cleve.mod'
df1 = pd.read_csv(url,header=None,skiprows=(i for i in range(20)),delim_whitespace=True,error_bad_lines=False)

In [4]:
df1.shape

(303, 15)

In [44]:
#mapping = {'angina': 0, 'asympt': 1}
pain = {'angina': 0, 'asympt': 1,'notang':2,'abnang':3}
gender = {'male':1,'fem':0}
bsl20 = {'true':1,'fal':0}
restingecg = {'norm':0,'abn':1, 'hyp':2}
exindang = {'true':1,'fal':0}
slope = {'up':1, 'flat':0, 'down':-1}
thal = {'norm':0, 'fix':1, 'rev':-1}
state= {'buff':1,'sick':-1}
code = {'H':0,'S1':1,'S2':2,'S3':3,'S4':4}
eleventh = {'?':-10000}
twelth = {'?':-10000}
df2 = df1.replace({1: gender,2:pain,5:bsl20,6:restingecg,8:exindang,10:slope,11:eleventh,12:{**thal, **twelth},13:state,14:code})

In [45]:
for col in df2.columns:
    print(type(col),col)#column names i assume

<class 'int'> 0
<class 'int'> 1
<class 'int'> 2
<class 'int'> 3
<class 'int'> 4
<class 'int'> 5
<class 'int'> 6
<class 'int'> 7
<class 'int'> 8
<class 'int'> 9
<class 'int'> 10
<class 'int'> 11
<class 'int'> 12
<class 'int'> 13
<class 'int'> 14

In [46]:
df2

       0   1   2      3      4   5   6      7   8    9   10   11  12  13  14
0    63.0   1   0  145.0  233.0   1   2  150.0   0  2.3  -1  0.0   1   1   0
1    67.0   1   1  160.0  286.0   0   2  108.0   1  1.5   0  3.0   0  -1   2
2    67.0   1   1  120.0  229.0   0   2  129.0   1  2.6   0  2.0  -1  -1   1
3    37.0   1   2  130.0  250.0   0   0  187.0   0  3.5  -1  0.0   0   1   0
4    41.0   0   3  130.0  204.0   0   2  172.0   0  1.4   1  0.0   0   1   0
..    ...  ..  ..    ...    ...  ..  ..    ...  ..  ...  ..  ...  ..  ..  ..
298  48.0   1   2  124.0  255.0   1   0  175.0   0  0.0   1  2.0   0   1   0
299  57.0   1   1  132.0  207.0   0   0  168.0   1  0.0   1  0.0  -1   1   0
300  49.0   1   2  118.0  149.0   0   2  126.0   0  0.8   1  3.0   0  -1   1
301  74.0   0   3  120.0  269.0   0   2  121.0   1  0.2   1  1.0   0   1   0
302  54.0   0   2  160.0  201.0   0   0  163.0   0  0.0   1  1.0   0   1   0

[303 rows x 15 columns]

In [53]:
df2n = df2.to_numpy()
import numpy as np
for i in range(df2n.shape[1]):
  if type(df2n[0,i]) == type(''):
    temp = np.zeros(df2n.shape[0])
    for j in range(df2n.shape[0]):
      temp[j] = float(df2n[j,i])
    df2n[:,i] = temp.astype(float)


for i in range(df2n.shape[0]):
  for j in range(df2n.shape[1]):
    if df2n[i,j] == '?':
      print(i,j)

df2n = df2n.astype(float)
df2n.shape
df2n[:,14]#output column

array([0., 2., 1., 0., 0., 0., 3., 0., 2., 1., 0., 0., 2., 0., 0., 0., 0.,
       1., 3., 4., 0., 0., 0., 0., 3., 0., 2., 1., 0., 0., 0., 3., 1., 3.,
       0., 4., 0., 0., 0., 1., 4., 0., 4., 0., 0., 0., 0., 2., 0., 1., 1.,
       1., 1., 0., 0., 2., 0., 1., 0., 2., 2., 1., 0., 2., 1., 0., 3., 1.,
       1., 1., 0., 1., 0., 0., 3., 0., 0., 0., 3., 0., 0., 0., 0., 0., 0.,
       0., 3., 0., 0., 0., 1., 2., 3., 0., 0., 0., 2., 3., 1., 1., 0., 2.,
       2., 0., 0., 0., 3., 2., 3., 4., 0., 3., 0., 0., 0., 0., 4., 3., 1.,
       0., 0., 1., 0., 1., 0., 1., 4., 0., 0., 0., 0., 0., 0., 4., 3., 1.,
       1., 1., 2., 0., 1., 0., 3., 0., 0., 1., 0., 4., 1., 0., 1., 0., 0.,
       3., 2., 0., 0., 0., 0., 0., 2., 1., 2., 0., 3., 1., 2., 0., 3., 0.,
       0., 0., 1., 0., 0., 0., 0., 0., 3., 3., 3., 0., 1., 0., 4., 0., 3.,
       1., 0., 0., 0., 0., 0., 0., 0., 0., 3., 1., 2., 0., 0., 0., 3., 2.,
       0., 2., 3., 2., 1., 0., 0., 0., 0., 0., 2., 0., 2., 2., 1., 3., 0.,
       0., 1., 0., 0., 0., 0., 0., 0., 0., 1., 2., 1., 0., 1., 0., 2., 0.,
       1., 0., 0., 0., 1., 0., 2., 0., 3., 0., 2., 4., 0., 0., 2., 2., 1.,
       0., 3., 1., 1., 2., 3., 1., 0., 2., 0., 0., 1., 0., 0., 1., 0., 0.,
       0., 0., 0., 3., 0., 2., 1., 1., 0., 3., 3., 0., 0., 0., 0., 0., 3.,
       0., 0., 4., 2., 0., 0., 4., 0., 0., 0., 0., 1., 0., 0.])

In [54]:
for i in range(df2n.shape[1]):
  print(i,df2n[0,i],type(df2n[0,i]))

0 63.0 <class 'numpy.float64'>
1 1.0 <class 'numpy.float64'>
2 0.0 <class 'numpy.float64'>
3 145.0 <class 'numpy.float64'>
4 233.0 <class 'numpy.float64'>
5 1.0 <class 'numpy.float64'>
6 2.0 <class 'numpy.float64'>
7 150.0 <class 'numpy.float64'>
8 0.0 <class 'numpy.float64'>
9 2.3 <class 'numpy.float64'>
10 -1.0 <class 'numpy.float64'>
11 0.0 <class 'numpy.float64'>
12 1.0 <class 'numpy.float64'>
13 1.0 <class 'numpy.float64'>
14 0.0 <class 'numpy.float64'>

In [56]:
import sklearn as sk
from sklearn.linear_model import LogisticRegression
import os

y = df2n[:,14]
X = df2n[:,:14]

LR = LogisticRegression(random_state=0, solver='lbfgs', multi_class='ovr').fit(X, y)
LR.predict(X[460:,:])
round(LR.score(X,y), 4)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

ValueError: ignored

In [ ]:
#https://stackoverflow.com/questions/17114904/python-pandas-replacing-strings-in-dataframe-with-numbers
#https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.replace.html