<a href="https://colab.research.google.com/github/WilliamAshbee/DataminingAssignments/blob/main/DM_assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sklearn as sk
import pandas as pd

In [2]:
#!wget http://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/cleve.mod

In [3]:
url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/cleve.mod'
df1 = pd.read_csv(url,header=None,skiprows=(i for i in range(20)),delim_whitespace=True,error_bad_lines=False)

In [4]:
df1.shape

(303, 15)

In [17]:
for col in df1.columns:
    print(len(col),type(col),col)

TypeError: ignored

In [25]:
#mapping = {'angina': 0, 'asympt': 1}
pain = {'angina': 0, 'asympt': 1,'notang':2,'abnang':3}
gender = {'male':1,'fem':0}
bsl20 = {'true':1,'fal':0}
restingecg = {'norm':0,'abn':1, 'hyp':2}
exindang = {'true':1,'fal':0}
slope = {'up':1, 'flat':0, 'down':-1}
thal = {'norm':0, 'fix':1, 'rev':-1}
state= {'buff':1,'sick':-1}
code = {'H':0,'S1':1,'S2':2,'S3':3,'S4':4}
df2 = df1.replace({1: gender,2:pain,5:bsl20,6:restingecg,8:exindang,10:slope,12:thal,13:state,14:code})

In [26]:
df2

       0   1   2      3      4   5   6      7   8    9   10   11  12  13  14
0    63.0   1   0  145.0  233.0   1   2  150.0   0  2.3  -1  0.0   1   1   0
1    67.0   1   1  160.0  286.0   0   2  108.0   1  1.5   0  3.0   0  -1   2
2    67.0   1   1  120.0  229.0   0   2  129.0   1  2.6   0  2.0  -1  -1   1
3    37.0   1   2  130.0  250.0   0   0  187.0   0  3.5  -1  0.0   0   1   0
4    41.0   0   3  130.0  204.0   0   2  172.0   0  1.4   1  0.0   0   1   0
..    ...  ..  ..    ...    ...  ..  ..    ...  ..  ...  ..  ...  ..  ..  ..
298  48.0   1   2  124.0  255.0   1   0  175.0   0  0.0   1  2.0   0   1   0
299  57.0   1   1  132.0  207.0   0   0  168.0   1  0.0   1  0.0  -1   1   0
300  49.0   1   2  118.0  149.0   0   2  126.0   0  0.8   1  3.0   0  -1   1
301  74.0   0   3  120.0  269.0   0   2  121.0   1  0.2   1  1.0   0   1   0
302  54.0   0   2  160.0  201.0   0   0  163.0   0  0.0   1  1.0   0   1   0

[303 rows x 15 columns]

In [28]:
df2n = df2.to_numpy()

In [29]:
for i in range(df2n.shape[1]):
  print(i,df2n[0,i],type(df2n[0,i]))

0 63.0 <class 'float'>
1 1 <class 'int'>
2 0 <class 'int'>
3 145.0 <class 'float'>
4 233.0 <class 'float'>
5 1 <class 'int'>
6 2 <class 'int'>
7 150.0 <class 'float'>
8 0 <class 'int'>
9 2.3 <class 'float'>
10 -1 <class 'int'>
11 0.0 <class 'str'>
12 1 <class 'int'>
13 1 <class 'int'>
14 0 <class 'int'>

In [7]:
import sklearn as sk
from sklearn.linear_model import LogisticRegression
import os

y = df1.iloc[:,12]
X = df1.iloc[:,:12]

LR = LogisticRegression(random_state=0, solver='lbfgs', multi_class='ovr').fit(X, y)
LR.predict(X.iloc[460:,:])
round(LR.score(X,y), 4)

ValueError: ignored

In [ ]:
#https://stackoverflow.com/questions/17114904/python-pandas-replacing-strings-in-dataframe-with-numbers
#https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.replace.html